* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

img {
	max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	font-size: 62.5%;

	@media screen and (max-width:$large_desktop) {
		font-size: 100vw / (1750/10);
	}

	@media screen and (max-width:$large_tablet) {
		font-size: 71.5%;
	}

	@media screen and (max-width:$large_mobile) {
		font-size: 100vw / (380/10);
	}
}

body {
	overflow-x: hidden;
	font-family: $primary-f;
	color: $primary-c;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-size: 1.6rem;
	user-select: none;

}

main {
	flex-grow: 1;

}

.center-wrap {
	max-width: 1440px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px;

	@media screen and (max-width: $large_desktop) {
		max-width: calc(100% - 80px);
	}

	@media screen and (max-width:$large_tablet) {
		max-width: $large_mobile;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0px;
}


.simple-title {
	font-family: $secondary-f;
	font-size: 8.4rem;
	line-height: 8.9rem;
	letter-spacing: -0.04em;
	font-weight: 700;
	color: #181E4B;
	margin-bottom: 3rem;
	overflow: hidden;
	@media screen and (max-width:$large_tablet) {
        font-size: 5.4rem;
		line-height: 5.9rem;
    }
	@media screen and (max-width:$large_tablet) {}
	.underline {
		position: relative;
		display: inline-block;
		span {
			position: relative;
			z-index: 1;
		}
		img {
			position: absolute;
			bottom: 1rem;
			left: 6rem;
			z-index: 0;
			width: 100%;
			transform: scale(1.8);
			@media screen and (max-width:$large_tablet) {
				left: 5rem;
			
			}
		}
		// &::before {
		// 	content: url('~img/svg/underline.svg');
		// 	position: absolute;
		// 	bottom: -2rem;
		// 	left: 0;
		// 	width: 38rem;
		// 	height: 100%;
		// 	z-index: -1;
		// }
	}
}

.secondary-title {
	font-weight: bold;
	font-size: 2rem;
	line-height: 3rem;
	text-transform: uppercase;
	margin-bottom: 2.4rem;
	color: $secondary-c;
}

.desktop--hide {
	@media screen and (min-width: $large_tablet) {
		display: none !important;
	}
}

.mobile--hide {
	@media screen and (max-width: $large_tablet) {
		display: none !important;
	}
}

.img-wrap {
	width: 100%;
	height: fit-content;

	> div {
		position: relative;
		padding-bottom: 100%;

		img {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) transform;
		}
	}
	&--contain {
		> div {
			img {
				object-fit: contain;
			}
		}
	}
}