// Font
$primary-f: 'Poppins', sans-serif;
$secondary-f: 'Volkhov', sans-serif;


// Color
$primary-c:#39425D;
$secondary-c:#DF6951;
$danger-с:#ff0000;


// Media
$large_desktop: 1750px;
$large_tablet: 1024px;
$large_mobile: 480px;